/*------------------------------------*/
/*------------ALLMÄNT-----------------*/
/*------------------------------------*/
*{
	margin: 0;
	font-family: 'Allerta Stencil', sans-serif;

}
/*------------------------------------------------------------*/
body{
	/*------------------------------------*/
	/*------Body som Flex_Container-------*/
	/*------------------------------------*/
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
/*------------------------------------------------------------*/
}
header{

	/*------------------------------------*/
	/*----Header som Flex_Item av Body----*/
	/*------------------------------------*/
	background: pink;
	/*------------------------------------*/
	/*------Header som Flex_Container-----*/
	/*------------------------------------*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 150px;

	

}
header h1{
	
	margin-left: 40px;
	font-size: 45px;
	font-weight: 400;
	flex-grow: 0.1;
	
	/*margin-left: 40px;*/
	/*flex-basis: 50px;*/
	/*padding: 30px;*/
	
}
header nav{
	
	
	

	/*------------------------------------*/
	/*------Nav som Flex_Container-----*/
	/*------------------------------------*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
	flex-grow: 0.2;
	font-size: 20px;
	font-weight: 600;
	




}
a{
text-decoration-line: none;


}
/*------------------------------------------------------------*/
main {
	/*------------------------------------*/
	/*------Main som Flex_Item av Body----*/
	/*------------------------------------*/
	background: grey;
	/*------------------------------------*/
	/*------Main som Flex_Container-------*/
	/*------------------------------------*/
	padding: 40px 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}
main img {
	flex-grow: 1;
	margin: 20px;
	width: 150px;
}